header {
    background-image: linear-gradient(to bottom,#fde4e7,#ffffff);
    .franja {
        p {
            background-color: $rosa-logo-claro;
            color: #ffff;
            text-align: center;
            font-size: 11px;
            font-family: 'Josefin Slab', serif;
            margin-bottom: 0;
            width: 100vw;
            height: 15px;
        }
    }

    nav {
        .logo {
            
        
            img {
                width: 90px;
                height: auto;

            }
        }
    }

    .carousel-tortas-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 6px;
        grid-auto-flow: row;
        grid-template-areas:
            "carousel1 carousel2";


        .carousel1 {
            grid-area: carousel1;
        }

        .carousel2 {
            grid-area: carousel2;
        }

        .carousel-inner {
            height: 300px;

            .carousel-item {
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}