header {
    background-image: linear-gradient(to bottom, #fde4e7, #ffffff);

    .franja {
        p {
            background-color: $rosa-logo-claro;
            color: #ffff;
            text-align: center;
            font-size: 11px;
            font-family: 'Josefin Slab', serif;
            margin-bottom: 0;
            width: 100vw;
            height: 15px;
        }
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;

        .logo {
            img {
                width: 160px;
                height: auto;
            }
        }

        ul {
            .nav-item {
                margin: 0 30px;

                .nav-link {
                    color: $rosa-logo;
                }
            }
        }

    }

    .modal {
        .modal-dialog {
            max-width: 600px;

            .modal-body {
                img {
                    width: 100%;
                    /* Asegura que la imagen no se desborde */
                    height: auto;
                    /* Mantiene la proporción de la imagen */
                    object-fit: cover;
                    /* Opcional: ajusta el recorte de la imagen si es necesario */

                }
            }
        }
    }

}